.app-tabs .mat-mdc-tab-header .mat-mdc-tab-label-container {
  margin: 0 !important;
}

.app-tabs .mdc-tab {
  font-size: 13px;
}

.no-shadow.mat-mdc-card {
  box-shadow: none !important;
}

.no-shadow .mat-mdc-card-content {
  padding: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-grid .label {
  font-weight: 400;
  color: #5F6368;
  margin-right: 10px;
  display: inline-block;
  width: 120px; /* Adjust width as needed for alignment */
}

.form-grid .value {
  font-weight: 400;
  position: relative;
}

.form-grid .value::before {
  content: ':';
  padding-right: 2px;
}

.full-row {
  grid-column: 1 / -1; /* This makes the "Issue" field span both columns */
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  color: #202124;
}