<div class="bg-card w-full flex flex-auto flex-col shadow xl:col-span-2 h-[calc(100vh-4rem)]">
    <div class="p-6 flex flex-row justify-between">
        <div class="">
            <div class="mr-4 truncate text-xl font-medium">
                Registed
            </div>
            <div class="text-[#5F6368] font-light">
                Sales Management / Leads / Registed
            </div>
        </div>
        <div class="flex flex-row items-center gap-4">
            <mat-form-field class="fuse-mat-dense min-w-40 grow-on-focus !h-11 !min-h-11" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-7 !mr-2" matPrefix [svgIcon]="'ic-search'"></mat-icon>
                <input matInput [autocomplete]="'off'" [placeholder]="'Search'" />
            </mat-form-field>
            <mat-form-field class="h-11 w-52 calendar-input">
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date">
                    <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconPrefix [for]="picker">
                    <mat-icon matDatepickerToggleIcon svgIcon="ic-calendar"></mat-icon>
                </mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <app-button-filter label="Filter" (clickFilter)="onStatusFilterClick()"></app-button-filter>
            <button class="bg-[#2E58F0] h-11 hover:bg-[#2048D8] rounded-md text-white flex flex-row items-center px-3"
            (click)="addNewLeads()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add Leads</span>
            </button>
        </div>
    </div>

    <div class="sample-table-wrapper mat-elevation-z8" tabindex="0">
        <table class="w-full bg-white sample-table" mat-table matSort [dataSource]="leadsDataTable"
            [trackBy]="trackByFn" #leadsTable>
            <!-- Status Leads -->
            <ng-container matColumnDef="status">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let leads">
                    <div class="flex flex-row items-center gap-3">
                        <div class="rounded-full h-2 w-2" [ngClass]="{
                                'bg-[#2E58F0]': leads.status === 'registed',
                                'bg-[#f0a62e]': leads.status === 'pending',
                                'bg-[#f02e2e]': leads.status === 'close',
                            }"></div>
                        <span class="whitespace-nowrap capitalize">{{ leads.status }}</span>
                    </div>
                </td>
            </ng-container>

            <!-- Category Leads -->
            <ng-container matColumnDef="category">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Category
                </th>
                <td mat-cell *matCellDef="let leads">
                    <div [ngClass]="{
                        'bg-[#EBF2FD]': leads.category === 'cold',
                        'bg-[#FDF3EB]': leads.category === 'warm',
                        'bg-[#FDEBEB]': leads.category === 'hot',
                    }" class="flex flex-row w-fit py-1 px-2 rounded-md items-center gap-[0.5rem]">
                        <img [src]="'icons/ic-' + leads.category + '.svg'" alt="Category Icon" class="w-5 h-5" />
                        <span [ngClass]="{
                        'text-[#2E58F0]': leads.category === 'cold',
                        'text-[#f07f2e]': leads.category === 'warm',
                        'text-[#f02e2e]': leads.category === 'hot',
                    }" class="whitespace-nowrap capitalize">{{ leads.category }}</span>
                    </div>
                </td>
            </ng-container>

            <!-- Branch Leads -->
            <ng-container matColumnDef="branch">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Branch
                </th>
                <td mat-cell *matCellDef="let leads">
                    <span class="whitespace-nowrap pr-6">
                        {{ leads.branch }}
                    </span>
                </td>
            </ng-container>

            <!-- Source Leads -->
            <ng-container matColumnDef="source">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Source
                </th>
                <td mat-cell *matCellDef="let leads">
                    <span class="whitespace-nowrap pr-6">
                        {{ leads.source }}
                    </span>
                </td>
            </ng-container>

            <!-- Name Leads -->
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Name
                </th>
                <td mat-cell *matCellDef="let leads">
                    <span class="whitespace-nowrap pr-6">
                        {{ leads.name }}
                    </span>
                </td>
            </ng-container>

            <!-- Contact Leads -->
            <ng-container matColumnDef="contact">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Contact
                </th>
                <td mat-cell *matCellDef="let leads">
                    <span class="whitespace-nowrap pr-6">
                        {{ leads.contact }}
                    </span>
                </td>
            </ng-container>

            <!-- Segmentation Leads -->
            <ng-container matColumnDef="segmentation">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Segmentation
                </th>
                <td mat-cell *matCellDef="let leads">
                    <span class="whitespace-nowrap capitalize pr-6">
                        {{ leads.segmentation }}
                    </span>
                </td>
            </ng-container>

            <!-- Created By Leads -->
            <ng-container matColumnDef="createdBy">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Created By
                </th>
                <td mat-cell *matCellDef="let leads" class="">
                    <span class="whitespace-nowrap pr-6">
                        {{ leads.createdBy }}
                    </span>
                </td>
            </ng-container>

            <!-- Created At Leads -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                    Created At
                </th>
                <td mat-cell *matCellDef="let leads" class="">
                    <span class="whitespace-nowrap pr-6">
                        {{ leads.createdAt | date: 'MMM dd, y' }}
                    </span>
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="p-0 text-center">Action</th>
                <td mat-cell *matCellDef="let leads" class="text-center px-0">
                    <!-- <button mat-stroked-button [matTooltip]="'View Detail'" [matTooltipPosition]="'before'"
                        class="rounded-sm aspect-square p-2 h-10 w-10 !min-h-10 !min-w-10 m-auto"
                        (click)="editLead(leads)">
                        <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                    </button> -->
                    <a [routerLink]="[leads.id]" mat-stroked-button [matTooltip]="'View Detail'"
                        [matTooltipPosition]="'before'"
                        class="rounded-md aspect-square p-2 h-10 w-10 !min-h-10 !min-w-10 m-auto">
                        <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="leadsDataTableColumns; sticky: true"></tr>
            <tr class="order-row h-16" mat-row *matRowDef="
                let row;
                columns: leadsDataTableColumns
            "></tr>
        </table>
    </div>
    <mat-paginator [length]="245" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPageChange($event)"
        class="">
    </mat-paginator>
</div>