<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<div class="notification-navbar-fuse-wrapper">
    <fuse-vertical-navigation class="bg-[#F4F6F9] notification-navbar group print:hidden fixed z-20" [mode]="'side'"
        [appearance]="isCollapsed ? 'dense' : 'default'" [name]="'naisoMainNavigation'" [navigation]="navigation"
        [opened]="!isScreenSmall">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <div class="flex w-full items-center p-4 pl-6">
                <span class="text-xl font-normal group-hover:block hidden whitespace-nowrap leading-5 py-1">Notifikasi
                    Bar</span>
                <mat-icon class="group-hover:hidden block" [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </div>
        </ng-container>
    </fuse-vertical-navigation>
</div>

<!-- Wrapper -->
<div [ngClass]="{
    'pl-[80px]': isCollapsed,
    'pl-[280px]': !isCollapsed
}" class="flex min-w-0 relative z-10 flex-auto flex-col">
    <!-- Header -->
    <div [ngClass]="{
            'w-[calc(100%-80px)]': isCollapsed,
            'w-[calc(100%-280px)]': !isCollapsed
        }"
        class="bg-card fixed z-49 flex h-16 flex-0 items-center px-4 dark:border-b dark:bg-transparent border-b border-[#D9DDE6] md:px-6 print:hidden">
        <div class="flex flex-row gap-2 items-center">
            <img src="images/logo/logo-edis.png" alt="EDIS Icon" class="w-28 h-[2.2rem]" />
            <h1 class="text-xl text-[#5F6368]">Sales Management</h1>
        </div>

        <!-- Custom Components -->
        <div class="ml-auto flex items-center gap-2 sm:gap-3">
            <div [matTooltip]="'Search'" class="rounded-sm hover:bg-[#F4F6F9] h-8 w-8">
                <img src="icons/ic-search.svg" alt="Search Icon" class="w-full h-full" />
            </div>
            <div [matTooltip]="'Menu'" class="rounded-sm flex items-center justify-center hover:bg-[#F4F6F9] h-8 w-8">
                <img src="icons/ic-menu.svg" alt="Menu Icon" class="w-6 h-6" />
            </div>
            <div class="py-2 px-2 gap-1 flex flex-row items-center justify-center border border-[#D9DDE6] rounded-sm">
                <img src="icons/ic-helpdesk.svg" alt="Helpdesk Icon" class="w-5 h-5" />
                <p class="select-none">Helpdesk</p>
            </div>
            <div [matTooltip]="'Profile'" class="rounded-sm hover:bg-[#F4F6F9] h-8 w-8">
                <div
                    class="rounded-full aspect-square flex items-center justify-center font-medium text-white bg-[#3B855D]">
                    SA
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-auto flex-col mt-16">
        @if (true) {
        <div class="flex flex-row h-full">
            <div class="menu-navbar-fuse-wrapper">
                <fuse-vertical-navigation class="bg-white menu-navbar print:hidden fixed top-16 z-[110]" [mode]="'side'"
                    [appearance]="isPanelMenuCollapsed ? 'dense' : 'default'" [name]="'MenuNavigation'"
                    [navigation]="panelNavigation" [opened]="!isScreenSmall" [autoCollapse]="false"
                    (mouseenter)="onPanelNavbarHover(true)" (mouseleave)="onPanelNavbarHover(false)">
                    <ng-container fuseVerticalNavigationHeader>
                        <div class="flex w-full items-center justify-between p-4 pl-6">
                            <span *ngIf="!isPanelMenuCollapsed || isHovered" class="text-xl font-medium text-[#202124]">
                                Leads
                            </span>
                            <button [matTooltip]="isPanelMenuCollapsed ? 'Expand' : 'Collapse'"
                                [matTooltipPosition]="'after'" [ngClass]="{
                                'rotate-180': isPanelMenuCollapsed
                            }" class="hover:bg-[#F4F6F9] p-2 shrink-0 transition-transform duration-300 ease-in-out"
                                (click)="panelMenuToggleCollapse()">
                                <mat-icon class="icon-size-5" [svgIcon]="'ic-panel-menu'"></mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </fuse-vertical-navigation>
            </div>
            <div [ngClass]="{
                'pl-[80px]': isPanelMenuCollapsed,
                'pl-[235px]': !isPanelMenuCollapsed
            }" class="flex flex-1 flex-col h-full overflow-hidden">
                <router-outlet></router-outlet>
            </div>
        </div>
        }
    </div>
</div>