<div class="-m-6 flex rounded-md flex-auto flex-col md:w-160 md:min-w-160">
    <!-- header -->
    <div class="flex flex-row items-center justify-between px-6 p-8 pb-2">
        <label class="text-xl font-medium">Add Leads</label>
        <button mat-icon-button [mat-dialog-close]="'canceled'">
            <mat-icon svgIcon="ic-cancel"></mat-icon>
        </button>
    </div>
    <div class="px-6 p-10 pt-3 grid grid-cols-2 gap-3">
        <mat-form-field>
            <mat-label class="font-normal text-[#5B6B79]">Status</mat-label>
            <mat-select placeholder="Select Status">
                <mat-option value="status1">Status 1</mat-option>
                <mat-option value="status2">Status 2</mat-option>
                <mat-option value="status3">Status 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label class="font-normal text-[#5B6B79]">Status</mat-label>
            <mat-select placeholder="Select Status">
                <mat-option value="status1">Status 1</mat-option>
                <mat-option value="status2">Status 2</mat-option>
                <mat-option value="status3">Status 3</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label class="font-normal text-[#5B6B79]">Status</mat-label>
            <mat-select placeholder="Select Status">
                <mat-option value="status1">Status 1</mat-option>
                <mat-option value="status2">Status 2</mat-option>
                <mat-option value="status3">Status 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>